.wp-block-block-examples-block02 {
    color: greenyellow;
    background: tomato;
    border: 3px solid palevioletred;
    padding: 30px;
}

.hedberg {
    color: greenyellow;
    background: tomato;
    border: 3px solid palevioletred;
    padding: 30px;
}