.wp-block-block-examples-block02 {
    color: darkblue;
    background: lightblue;
    border: 3px solid lavenderblush;
    padding: 30px;
}

.hedberg {
    color: darkblue;
    background: lightblue;
    border: 3px solid lavenderblush;
    padding: 30px;
}